html
    head
        // set the title of the page to what ever title is
        title= title
        body 
            // template for header
            h1= message


// wath out for the syntax
// tilte = title is wrong
// title= titlle is the one