* {
    border: 1px solid red;
    margin: 0px;
}

/* layout */
/* navigation */
nav{

}
navblock{
    margin: 0 auto
}
nav_item{
    float: left
}
/* body wrapper */

/* Footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer p{
    margin: 2px 0px;
}

h1{
    color:pink;
}
